strata-automation-bundle/data/nodered/.flows.json.backup
[
    {
        "id": "7a54daefb9056b5b",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "kuma_in",
        "type": "http in",
        "z": "7a54daefb9056b5b",
        "name": "Kuma Webhook",
        "url": "/hooks/kuma",
        "method": "post",
        "upload": false,
        "x": 100,
        "y": 200,
        "wires": [
            [
                "fmt"
            ]
        ]
    },
    {
        "id": "fmt",
        "type": "function",
        "z": "7a54daefb9056b5b",
        "name": "Format message",
        "func": "let b = msg.payload || {};\ntry { if (typeof b === 'string') b = JSON.parse(b); } catch(e) {}\nconst name = b?.monitor?.name || b?.monitorName || 'unknown-monitor';\nconst status = b?.status || b?.msg || 'status-change';\nmsg.headers = { 'Content-Type': 'text/plain' };\nmsg.payload = `${name}: ${status}`;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 300,
        "y": 200,
        "wires": [
            [
                "ntfy_req",
                "kuma_resp"
            ]
        ]
    },
    {
        "id": "ntfy_req",
        "type": "http request",
        "z": "7a54daefb9056b5b",
        "name": "POST → ntfy (alerts.prod)",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://ntfy/alerts-prod",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 550,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "kuma_resp",
        "type": "http response",
        "z": "7a54daefb9056b5b",
        "name": "200 OK",
        "statusCode": "",
        "x": 550,
        "y": 240,
        "wires": []
    }
]